[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Xlib = "*"

[dev-packages]
ipython = "*"
jupyter = "*"
black = "*"
tox = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.11"
