[Unit]
Description=WinTrak Service
After=multi-user.target
Conflicts=getty@tty1.service
 
[Service]
Type=simple
# Environment="PYTHONPATH=$PYTHONPATH:/usr/lib/wintrak"
WorkingDirectory=/usr/lib/wintrak
ExecStart=/usr/bin/wintrak-backend.sh
ExecStop=rm -r /usr/lib/wintrak/wintrak/__pycache__
StandardInput=tty-force
 
[Install]
WantedBy=multi-user.target